* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #1a1a1a;
	background: #f5f5f5;
}

body {
	margin: 0;
	min-height: 100vh;
}

#app {
	min-height: 100vh;
}

